<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Name"
            #nameInput
          />
        </div>
        <div class="col-sm-2 for-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            placeholder="Amount"
            #amountInput
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" (click)="onAddItem()">Add</button>
          <button type="button" class="btn btn-danger ml-1">Delete</button>
          <button type="button" class="btn btn-primary ml-8 mx-auto">
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
